<div>
    <h2 data-translate="unirestpruebaApp.loan.home.title">Loans</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="loan.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="unirestpruebaApp.loan.home.createLabel">
                        Create new Loan
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span data-translate="unirestpruebaApp.loan.nombre">Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="monto"><span data-translate="unirestpruebaApp.loan.monto">Monto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="banco"><span data-translate="unirestpruebaApp.loan.banco">Banco</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span data-translate="unirestpruebaApp.loan.fecha">Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="loan in vm.loans track by loan.id">
                    <td><a ui-sref="loan-detail({id:loan.id})">{{loan.id}}</a></td>
                    <td>{{loan.nombre}}</td>
                    <td>{{loan.monto}}</td>
                    <td>{{loan.banco}}</td>
                        <td>{{loan.fecha | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="loan-detail({id:loan.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="loan.edit({id:loan.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="loan.delete({id:loan.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
